<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Channel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/js/channel.js" defer></script>

</head>
<body>
<h1 >Channel</h1>
<div id="chatWindow" style="border: 1px solid #ccc; padding: 10px; height: 300px; overflow-y: scroll;">

</div>
<label for="message">Message:</label>
<textarea id="message" placeholder="Enter your message here"></textarea>
<button id="sendButton">Send</button>
</body>
</html>


